<!DOCTYPE html>
<html lang = "en" ng-app = "myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>CRUD Web App</title>

  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/jumbotron-narrow.css" rel="stylesheet">

  <script src="static/js/angular.js"></script>

  <script>
  angular.module('myApp', []).controller('HomeCtrl', function($scope, $http){

    $scope.info = {};
    $scope.showAdd = true;

    $scope.showlist = function(){
      $http({
        method: 'POST',
        url: '/getEmployeeList',
      }).then(function(response){
        $scope.employees = response.data;
        console.log('mm',$scope.employees);
      }, function(error){
        console.log(error);
      });
    }

    $scope.addEmployee = function(){
      $http({
        method: 'POST',
        url: '/addEmployee',
        data: {info:$scope.info}
      }).then(function(response) {
        $scope.showlist();
        $('#addPopUp').modal('hide')
        $scope.info = {}
      }, function(error) {
        console.log(error);
      });
    }


    $scope.editEmployee = function(id){
      $scope.info.id = id;
      $scope.showAdd = false;
      $http({
        method: 'POST',
        url: '/getEmployee',
        data: {id:$scope.info.id}
      }).then(function(response) {
        console.log(response);
        $scope.info = response.data;
        $('#addPopUp').modal('show')
      }, function(error) {
        console.log(error);
      });
    }


    $scope.updateEmployee = function(id){

      $http({
        method: 'POST',
        url: '/updateEmployee',
        data: {info:$scope.info}
      }).then(function(response) {
        console.log(response.data);
        $scope.showlist();
        $('#addPopUp').modal('hide')
      }, function(error) {
        console.log(error);
      });
    }

    $scope.showAddPopUp = function(){
      $scope.showAdd = true;
      $scope.info = {};
      $('#addPopUp').modal('show')
    }

    $scope.confirmDelete = function(id){
      $scope.deleteEmployeeId = id;
      $('#deleteConfirm').modal('show');
    }

    $scope.deleteEmployee = function(){
      $http({
        method: 'POST',
        url: '/deleteEmployee',
        data: {id:$scope.deleteEmployeeId}
      }).then(function(response) {
        console.log(response.data);
        $scope.deleteEmployeeId = '';
        $scope.showlist();
        $('#deleteConfirm').modal('hide')
      }, function(error) {
        console.log(error);
      });
    }

    $scope.showlist();
  })
  </script>
</head>

<body ng-controller="HomeCtrl">
  <div class="container">
    <h2 class="text-muted">Digilocker Employees and Interns</h2>
  </div>
  <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#" data-toggle="modal" ng-click="showAddPopUp()">Add Employee</a></li>
        </ul>
      </nav>
      <h3 class="text-muted">CRUD on its Database</h3>
    </div>

    <div class="bs-example" data-example-id="panel-without-body-with-table">
      <div class="panel panel-default">
        <div class="panel-heading">Employee List</div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Employee Id</th>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="employee in employees track by $index">
              <th scope="row">{{'{{$index+1}}'}}</th>
              <td>{{'{{employee.empId}}'}}</td>
              <td>{{'{{employee.name}}'}}</td>
              <td>{{'{{employee.age}}'}}</td>
              <td>{{'{{employee.gender}}'}}</td>
              <td><span style="cursor:pointer;" ng-click="editEmployee(employee.id)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
              <td><span style="cursor:pointer;color:#e43309;" ng-click="confirmDelete(employee.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel" >Add Employee data</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="txtDevice" class="control-label">Employee Id:</label>
              <input type="text" class="form-control" ng-model="info.empId" id="txtDevice">
            </div>
            <div class="form-group">
              <label for="txtIP" class="control-label">Name:</label>
              <input type="text" class="form-control" ng-model="info.name" id="txtIP">
            </div>
            <div class="form-group">
              <label for="txtUsername" class="control-label">Age:</label>
              <input type="text" class="form-control" ng-model="info.age" id="txtUsername">
            </div>
            <div class="form-group">
              <label for="txtPassword" class="control-label">Gender:</label>
              <input type="text" class="form-control" ng-model="info.gender" id="txtPassword">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
          <button ng-show="showAdd" id="btnAdd" ng-click="addEmployee()" type="button" class="btn btn-primary">Add</button>

          <button ng-show="!showAdd" id="btnAdd" ng-click="updateEmployee()" type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

  <div id="deleteConfirm" class="modal fade bs-example-modal-md in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">You are about to delete this entry. Do you want to proceed ?</h4> </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" ng-click="deleteEmployee()" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </body>
</html>
